<p>
<table border=0 cellpadding=0 cellspacing=0 class=x_zhwd-mobile-fullwidth width=552
       style="color: rgb(33, 33, 33); font-family: &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, 微软雅黑, SimSun, 宋体, sans-serif; font-size: 15px; line-height: normal; background-color: rgb(247, 249, 250)">
    <tbody>
    <tr>
        <td height=0 style="font-size: 0px; line-height: 0px; color: rgb(247, 249, 250)">
            这是一封帮助您找回密码的邮件，如果您不是科技评奖系统的用户请将其忽略。
        </td>
    </tr>
    <tr class=x_zhwd-mobile-hide>
        <td>
            <table border=0 cellpadding=0 cellspacing=0 width=100%>
                <tbody>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding=0 cellspacing=0 class=x_zhwd-mobile-no-radius
                   style="border-radius: 4px; border: 1px solid rgb(222, 222, 222); margin: 0px auto; background-color: rgb(255, 255, 255)">
                <tbody>
                <tr>
                    <td class=x_zhwd-mobile-collapse-padding align=left style="padding: 20px 35px">
                        <table border=0 cellpadding=0 cellspacing=0>
                            <tbody>
                            <tr>
                                <td>
                                    <table border=0 cellpadding=0 cellspacing=0 width=100%>
                                        <tbody>
                                        <tr>
                                            <td valign=middle width=51
                                                class="x_zhwd-high-res-img-wrap x_zhwd-zhihu-logo"
                                                style="vertical-align: middle"><img
                                                    src=http://www.chinaunicom.com.cn/images/logo.gif alt=中国联通 height=91
                                                    width=160
                                                    style="outline: none; text-decoration: none; border-width: initial; border-style: none; margin: 0px; padding: 0px; display: block"/>
                                            </td>
                                            <td align=left style="font-size: 24px; color: rgb(32, 33, 33)">&nbsp;&nbsp;</td>
                                            <td align=right  valign=middle
                                                style="font-size: 16px; color: rgb(103, 107, 109)">$!{systemName}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height=20 style="font-size: 0px; line-height: 0px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <table border=0 cellpadding=0 cellspacing=0>
                                        <tbody>
                                        <tr>
                                            <td height=35
                                                style="font-size: 0px; line-height: 0px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(241, 244, 246)">
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table border=0 cellpadding=0 cellspacing=0>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <a style="font-size: 17px; font-weight: bold; text-decoration: none; color: rgb(34, 85, 153); border: none; outline: none">密码重置服务</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table border=0 cellpadding=0 cellspacing=0 width=100%
                                                                   class=x_zhwd-mobile-no-fullwidth>
                                                                <tbody>
                                                                <tr>
                                                                    <td height=15
                                                                        style="font-size: 0px; line-height: 0px">
                                                                        &nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    
                                                                    <td align=left><a style="font-size: 13px; color: rgb(51, 51, 51); text-decoration: none"><strong>$!{userName}</strong></a><span
                                                                            style="font-size: 13px; color: rgb(102, 102, 102)">，您好</span>
                                                                    </td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td height=12
                                                                        style="font-size: 0px; line-height: 0px">
                                                                        &nbsp;</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table border=0 cellpadding=0 cellspacing=0>
                                                                <tbody>
                                                                <tr>
                                                                    <td style="word-break: break-all"><span
                                                                           style="font-size: 13px; line-height: 22px; text-decoration: none; color: rgb(51, 51, 51); display: block">
                                                                           		您刚刚申请了密码重置服务，重置密码的链接如下：<a href="mailto:${changePasswordUrl}">$!{changePasswordUrl}</a> 此链接有效时间为24小时。
                                                                           		如果您本人没有申请此服务，请联系科技评奖系统管理员。
                                                                           </span>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height=28 style="font-size: 0px; line-height: 0px">
                                                            &nbsp;</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height=35
                                                style="font-size: 0px; line-height: 0px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(241, 244, 246)">
                                                &nbsp;</td>
                                        </tr>                      
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table> </p>